.finance-evolving {
    padding: 80px 0 80px 0;
}

.finance-evolving__image-wrapper {
    width: 100%;
    margin: 60px 0 0 0;

    img {
        width: 100%;
    }
}

.finance-evolving__button {
    margin-top: 80px;
}
