.header {
    position: absolute;
    top: 50px;
    z-index: 2;
    width: 100%;

    .header-content {
        display: flex;
        justify-content: space-between;
    }

    .header-logo {
        margin: 0;
        font-family: "Gotham", "Arial", sans-serif;
        font-weight: 700;
        font-size: 1.25rem;
        color: #1480c3;
        text-transform: uppercase;
        @media screen and (min-width: 769px) {
            font-size: 1.375rem;
        }
    }

    .header-smb {
        display: flex;
        align-items: center;
        font-family: "Montserrat", "Arial", sans-serif;
        font-weight: 300;
        font-size: 0.75rem;
        color: #1480c3;
        @media screen and (min-width: 768px) {
            margin: 0 30px 0 0;
            font-size: 1rem;
        }

        span {
            display: block;
        }

        .header-smb__icon {
            width: 14px;
            margin-left: 10px;
            @media screen and (min-width: 768px) {
                width: 22px;
                margin-left: 20px;
            }
        }
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    @media screen and (min-width: 769px) {
        width: 730px;
        padding-right: 15px;
        padding-left: 15px;
    }
    @media screen and (min-width: 992px) {
        width: 960px;
    }
    @media screen and (min-width: 1200px) {
        width: 1140px;
    }
    @media screen and (min-width: 1280px) {
        width: 1246px;
    }
    @media screen and (min-width: 1440px) {
        width: 1400px;
    }
}
